# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/node_modules_bk
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage
backend_code
*.bk
*.sql

# next.js
/.next/
/out/

# production
/build

# python
test.py
*.db
__pycache__/
*.pyc

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
.env.app
.env.server
.env.compose
.venv
*.zip
note*
wavemocards.json
*.sqlite3*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts