@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100 transition-all duration-300;
  }
  a {
    @apply hover:underline hover:text-[#3c9daeff];
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-2xl;
  }

  h1,h2,h3,h4,h5,h6 {
    @apply font-bold mb-2 text-[#3c9daeff];
  }
}
